:root {
  --color-primary: #5c6bc0;
  --color-secondary: #424242;
  --app-max-width: 768px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #e0e0e0;
}

#app {
  max-width: var(--app-max-width);
  margin: 0 auto;
}
